body, html {
	font-family: "Exo 2", sans-serif;
	background: #23252d;
}

.splash {
	position: relative;
	width: 100%;
	height: calc(100vh - 20px);
	overflow: hidden;
}

.splash.splash-small {
	height: 60vh;
}

.splash .welcome {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translateX(-50%);
	z-index: 10;
}

.badge {
	padding: 10px 15px;
	background: #007bff;
	border-radius: 0;
	color: white;
}

.splash.splash-small .welcome {
	top: 50%;
	transform: translate(-50%, -50%);
}

.splash img {
	min-width: 100%;
	position: absolute;
	bottom: -15%;
	opacity: 0.5;
}

.splash.splash-small img {
	bottom: -30%;
}

.navbar {
	background: #16191f;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
	padding: 0;
	z-index: 15;
}

.navbar-nav a.nav-link, .navbar-toggler {
	padding: 15.5px 27px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	margin-right: 5px;
	line-height: normal;
}

.navbar-nav a.active {
	background: #007bff;
}

.navbar-nav a:not(.active):hover {
	background: rgba(245, 245, 245, 0.1);
}

.navbar-nav a.nav-link i {
	margin-right: 5px;
	transform: translateY(-0.5px);
}

@media screen and (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 27px;
		padding-left: 27px;
	}
}

.main {
	background: #16191f;
	width: 100%;
	filter: drop-shadow(0 0 100px rgba(0, 0, 0, 0.5));
	padding-bottom: 10vh;
}

.main.main-small {
	padding-top: 5vh;
}

.main video {
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	border-width: 20px 20px 0 20px;
	border-style: solid;
	border-color: #16191f;
	box-shadow: 0 50px 50px -30px rgba(0, 0, 0, 0.5);
	background: #16191f;
}

.main:not(.main-small) h2 {
	padding-top: 20vw;
}

.main.main-small h2 {
	margin-top: 25px;
	color: #d9e1e8;
}

.main.main-small p {
	color: #9baec8;
}

.main.main-small .col-md-3.active {
	background: rgba(0, 0, 0, 0.25);
}

.main.main-small .col-md-3 {
	margin-top: 5vh;
}

.main.main-small .col-md-3 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.splash .welcome h1 {
	font-weight: 900;
	color: #d9e1e8;
}

.splash .welcome p {
	margin-bottom: 50px;
}

.splash .welcome a.button {
	color: white;
	background: #007bff;
	padding: 15.5px 27px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.splash .welcome a.button:hover {
	text-decoration: none;
}

.splash .welcome a.button:last-child {
	margin-left: 20px;
}

.main .card {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0;
	margin-top: 5vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.main.main-small .card {
	margin-top: 2.5vh;
	box-shadow: none;
	transition: all 0.1s ease;
	cursor: pointer;
}

.main.main-small .card .card-body .complete {
	text-decoration: line-through solid black;
}

.main.main-small .content .card .card-body .card-title .badge {
	position: absolute;
	right: 0;
	font-size: 12px;
	padding: 5px 10px;
	top: 0;
}

.main.main-small .content .card .card-body .card-title {
	position: relative;
	padding-right: 56px;
	font-size: 18px;
}

.main.main-small .content .card .card-body .more {
	margin-top: 2.5vh;
}

.main.main-small .content .card .card-body .more h5 {
	padding-top: 2.5vh;
	font-weight: 700;
	color: #d9e1e8;
	font-size: 15px;
}

.main.main-small .content .card .card-body .more p {
	margin-bottom: 0;
}

.main.main-small .card.closed {
	max-height: 75px;
}

.main.main-small .card.closed:hover {
	max-height: 105px;
	transition: all 0.1s ease;
}

.main.main-small .card.closed, .main.main-small .card.hover {
    box-shadow: inset 0 -20px 20px -50px black;
	overflow: hidden;
}

.content {
	margin-top: 10vh;
}

.main .card .card-text, .splash .welcome p {
	color: #9baec8;
}

.footer {
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
}

.footer p {
	font-size: 12px;
	color: white;
}

.main .card .card-title, .main h2 {
	font-weight: bold;
	color: #d9e1e8;
}

@media screen and (max-width: 768px) {
	.splash .welcome {
		width: 90%;
	}
	
	.main video {
		width: 90%;
	}

	.main:not(.main-small) h2 {
		padding-top: 40vw;
	}
}